<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Web-Site</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Meeting Web-Site</h1>
    </div>
    <div class="image-container">
        <img src="/Picture.png" alt="Error">
    </div>
    <div class="button-container">
        <button>Log In</button>
        <button>Create Account</button>
    </div>
</div>
</body>
</html>
